{% extends 'base.html' %}

{% block content %}

<div class="content main-section">
  <h1 class="title black">Achievements</h1>
</div>
<!--
  Example of a foor loop to generate semi dynamic
  content based on data passed in by app.
  achievementsList is passed in by the route: achievements
 -->
{% for a in achievementsList %}
<div class="content main-section">
    <h2 class="award">{{a.awardName}}</h2>
    <h3 class="awardee">{{a.name}}</h3>
    <!-- <h3 class="description">About the Achievement:</h3> -->
        <p>{{a.description}}</p>
    <h3 class="photo">Photos:</h3>
    {% if a.photoLink != "" or a.photoLink != None %}
      <img src={{a.photoLink}} alt={{a.awardName}} />
    {% endif %}
    <hr />
</div>
{% endfor %}

{% endblock %}
