
{% extends 'base.html' %}

{% block content %}
<div class="splash-main" id="splash-main">
  <div class="content">
    <h1 class="title">Rutgers ACM Camden Chapter</h1>
  </div>
  <div class="content">
    <h3 class="tagline">Dedicated to technical, professional, and personal development in the context of computer science.</h3>
  </div>
</div>
<div class="content">
  <h1 class="title black">About Us</h1>
  <p>The Rutgers University Camden ACM Chapter aims to foster a community through technology and science. We believe that technology is a supreme benefit to society, and through its use we can better ourselves and the lives of those around us. We hold bi-weekly meetings in Armitage 121 to talk about tech-related events, projects, and opportunities both on and off campus.</p>
</div>
<footer></footer>
<script>
VANTA.GLOBE({
  el: "#splash-main",
  mouseControls: false,
  touchControls: false,
  minHeight: 200.00,
  minWidth: 200.00,
  scale: 1.00,
  scaleMobile: 1.00,
  color: '#cc0033',
  size: 0.90,
  backgroundColor: '#000000',
})
</script>
{% endblock %}
