
{% extends 'base.html' %}

{% block content %}
<div class="splash-main" id="splash-main">
  <div class="content">
    <h1 class="title">Rutgers ACM Camden Chapter</h1>
  </div>
  <div class="content">
    <h3 class="tagline">Dedicated to technical, professional, and personal development in the context of computer science.</h2>
  </div>
</div>
<div class="content">
  <h1 class="title black">About Us</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>
<footer></footer>
<script>
VANTA.DOTS({
  el: "#splash-main",
  mouseControls: true,
  touchControls: true,
  minHeight: 200.00,
  minWidth: 200.00,
  scale: 1.00,
  scaleMobile: 1.00
})
</script>
{% endblock %}
