{% extends 'base.html'%}

{% block content %}
<div class="content main-section">
  <h1 class="title black">Meet The Officers</h1>
  <div class="officers">
    <div class="officer">
      <!-- Replace these with landscape pictures of the officers -->
      <img src="{{url_for('static', filename='images/officers/president.jpg')}}" alt="">
      <span class="officer-title lg">President</span>
      <p>Jacob Lapinson</p>
    </div>
    <div class="officer">
      <img src="{{url_for('static', filename='images/officers/vicepresident.jpg')}}" alt="">
      <span class="officer-title lg">Vice President</span>
      <p>Joshua Barnett</p>
    </div>
  </div>
  <div class="officers">
    <div class="officer">
      <img src="{{url_for('static', filename='images/officers/secretary.jpg')}}" alt="">
      <span class="officer-title sm">Secretary</span>
      <p>Luke D'Amato</p>
    </div>
    <div class="officer">
      <img src="{{url_for('static', filename='images/officers/treasurer.jpg')}}" alt="">
      <span class="officer-title sm">Treasurer</span>
      <p>Dihan Naima</p>
    </div>
    <div class="officer">
      <img src="{{url_for('static', filename='images/officers/publicrelations.jpg')}}" alt="">
      <span class="officer-title sm">Social Media Manager</span>
      <p>Timothy Ryan Scully</p>
    </div>
    <div class="officer">
      <img src="{{url_for('static', filename='images/officers/webmaster.jpg')}}" alt="">
      <span class="officer-title sm">Webmaster</span>
      <p>Christopher Till</p>
    </div>
  </div>
  <h3 class="tagline black">Web Development Team</h3>
  <div class="officers">
    <div class="officer">
      <img src="https://via.placeholder.com/150" alt="">
      Paige
    </div>
    <div class="officer">
      <img src="https://via.placeholder.com/150" alt="">
      Yung
    </div>
    <div class="officer">
      <img src="https://via.placeholder.com/150" alt="">
      Ryan
    </div>
    <div class="officer">
      <img src="https://via.placeholder.com/150" alt="">
      Al
    </div>
    <div class="officer">
      <img src="https://via.placeholder.com/150" alt="">
      David
    </div>
  </div>
</div>
{% endblock %}
