{% extends 'base.html'%}

{% block content %}
<div class="content">
  <h1 class="title black">Meet The Officers</h1>
  <div class="projects">
    <div class="project">
      <strong>President</strong><br />
      Jacob Lapinson
    </div>
    <div class="project">
      <strong>Vice President</strong><br />
      Joshua Barnett
    </div>
  </div>
  <div class="projects">
    <div class="project">
      <strong>Secretary</strong><br />
      Luke D'Amato
    </div>
    <div class="project">
      <strong>Treasurer</strong><br />
      Dihan Naima
    </div>
    <div class="project">
      <strong>Social Media Manager</strong><br />
      Timothy Ryan Scully
    </div>
    <div class="project">
      <strong>Webmaster</strong><br />
      Christopher Till
    </div>
  </div>
  <h3 class="tagline black">Web Development Team</h3>
</div>
{% endblock %}
